.user-card-container {
  width: 100px !important;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: #d5d5d5;
  align-items: center;
  border-radius: 5px;
  position: relative;
  font-size: 12px;
  padding: 15px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.text-container {
  font-weight: 600;
}

.view-profile-button {
  border: none;
  border-radius: 5px;
  color: #000;
  background-color: #00a1ff;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 10px;
}

.select-checkbox {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

.truncate-one-line {
  width: 80px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
