.title-container {
  width: 100%;
  height: 64px !important;
  background-color: #929292;
  color: #000;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
